* {
  padding: 0px;
  margin: 0px;
}

.wraper {
  margin: 30px;
}

.card {
  padding: 10px;
  height: 20px;
  background-color: cornsilk;
}

ul li {
  list-style-type: none;
  display: inline;
}

ul li a {
  text-decoration: none;
  color: rgb(255, 174, 0);
}

#li1 {
  float: left;
}

#li2 {
  float: right;
  font-size: 13px;
}

.contain {
  padding: 20px;
  margin: 20px;
}

.productResult {
  padding: 10px;
  margin: 20px;
  height: 200px;
  width: 50%;
  display: table-cell;
}

th,
td {
  padding: 5px;
  text-align: center;
}

table {
  border-spacing: 5px;
}

.oneline {
  display: inline-block;
  padding-right: 29px;
  padding-left: 40px;
}

.matcard {
  height: 300px;
  width: 250px;
}

.mat-elevation-z8 {
  width: 100%;
}